<!DOCTYPE html>
<html>
  <head>
    <title>{{Pagina}}</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">
    
  </head>
  <body>

    {{{body}}}
     <div>
       {{#if user}}
       <a  class="btn-box" href="/logout" Salir></a>
       {{/if}}
    </div>


  </body>
</html>
