<body>
    <header>
        <nav class="nav-container container">
            <h2 class="title">TP Database</h2>
        </nav>
    </header>

    <div class="view-login">
    
        <div class="login-container">
            <h2 class="login-title">Log In</h2>
            <form action="/login" method="post">
                <div class="user-data">
                    <label>Usuario</label>
                    <input class="input" name="user" type="text" maxlength="20" autofocus>
                    <label>Password</label>
                    <input class="input" name="pass" type="password" maxlength="20">
                    <h3>Ingreso exlusivo para usuarios registrados</h3> 
                </div>
                <div class="btn-box-login btn-box">
                    <input class="btn" type="submit" value="Ingresar">
                    <a class="btn" href="/#">Volver</a>
                </div>
            </form>
        </div>

    </div>

</body>